apiVersion: v1
kind: Pod
metadata:
  labels:
    app: mysql 
  name: mysql
spec:
  containers:
  - env:
    - name: MYSQL_ROOT_PASSWORD
      value: "{{mysql_root_pass}}"
    - name: MYSQL_DATABASE
      value: "{{mysql_db}}"
    - name: MYSQL_USER
      value: "{{mysql_user}}"
    - name: MYSQL_PASSWORD
      value: "{{mysql_pass}}"
    image: mysql:5.7
    name: myos